.photos {}

.photos__container {}

.photos__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(17.25rem, 100%), 1fr));
  justify-items: center;
  gap: 1rem;
}

.photos__item {
  position: relative;
  width: fit-content;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease, max-height 0.6s ease;

  &:nth-child(-n+4) {
    max-height: 100%;
    opacity: 1;
    visibility: visible;
  }

  &:hover .photos__img {
    transform: scale(1.1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
}

.photos__img {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.photos__load-more {
  display: flex;
  margin: 1.25rem auto 0 auto;
}